@import "./assets/effects.scss";

html {
  min-width: fit-content;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
body {
  min-width: fit-content;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
